body {
  font-family: sans-serif;
  background: linear-gradient(90deg, rgb(67, 67, 67), rgb(28, 28, 28));
}

h1 {
  font-size: 4rem;
  text-align: center;
}

main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbox {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.search {
  background: transparent;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: large;
  color: white;
  margin: 10px auto;
}

h2 {
  text-align: center;
}

.searchbox p {
  text-align: center;
  font-size: large;
  color: white;
}

/* FruitsSearch Styles */

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
} */

#search-container {
  text-align: center;
  background: rgb(56, 56, 56);
  color: white;
  padding: 45px 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: large;
  border: 2px solid black;
}

#search-input {
  padding: 10px;
  width: 80%;
  border: 2px solid black;
  border-radius: 12px;
  margin: 10px 15px;
  background: transparent;
  font-size: large;
  color: white;
}

#results {
  text-align: center;
  max-height: 150px;
  overflow-y: auto;
}
.result-item {
  padding: 5px;
  border-bottom: 1px solid black;
}